# Copy or generate this file before deployment:
#   ./scripts/init-deploy-env.sh .env.deploy
#
# Then start:
#   docker compose --env-file .env.deploy -f docker-compose.deploy.yml up -d

KIROCC_DEPLOY_PROJECT=kirocc-prox-deploy
KIROCC_IMAGE=ghcr.io/2ue/kirocc-prox
KIROCC_VERSION=latest

KIROCC_PROXY_BIND=127.0.0.1
KIROCC_PROXY_HOST_PORT=9326
KIROCC_ADMIN_BIND=127.0.0.1
KIROCC_ADMIN_HOST_PORT=3457
KIROCC_ADMIN_PUBLIC_URL=

KIROCC_DATA_DIR=./deploy-data

POSTGRES_DB=kirocc_pro
POSTGRES_USER=kirocc
POSTGRES_PASSWORD=change_this_postgres_password
KIROCC_POSTGRES_UID=1000
KIROCC_POSTGRES_GID=1000

REDIS_PASSWORD=change_this_redis_password
KIROCC_REDIS_DB=0
KIROCC_REDIS_KEY_PREFIX=kirocc:deploy:
KIROCC_REDIS_LEASE_TTL=30m

KIROCC_API_KEY=change_this_proxy_api_key
KIROCC_ADMIN_KEY=change_this_admin_key
KIROCC_POOL_STRATEGY=least-inflight
KIROCC_QUOTA_POLL_INTERVAL=3m

KIROCC_PROMPT_CACHE=false
KIROCC_PROMPT_CACHE_TARGET_READ_RATIO=0.90
KIROCC_PROMPT_CACHE_REPORTS=
